<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=0.5, user-scalable=yes, shrink-to-fit=yes" />

{% seo %}
	<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
	  
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <![endif]-->
        
	<script src="/assets/js/scripts.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  </head>
  <body>
	<header>
	      
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <p>{{ page.description | default: site.description | default: site.github.project_tagline }}</p>
		
		<p>[ <a href="{{ site.url }}"><strong>. home .</strong></a> | <a href="{{ site.url }}meta"><strong>. meta .</strong></a> | <a href="https://www.cafepress.com/metavalent/17250926" class="button shop"><strong>. shop .</strong></a> | <strong>. talk .</strong> ]</p>
		
	  	<div class="search"><iframe src="https://duckduckgo.com/search.html?width=233&kh=1&site=metavalent.com&prefill=CTRL+F or CMD+F to search page &focus=yes" style="overflow:hidden;margin:0;padding:0;width:259px;height:34px;" frameborder="0"></iframe></div>
		
	<span id="logos">  
	   <a href="https://metavalent.com/feed" target="_blank">
		<img src="https://metavalent.com/assets/images/rss-icon.png" alt="Subscribe with RSSloading=”lazy” width="36" height="36" /></a>
	
		<a href="https://patreon.com/metavalent" target="_blank">
		<img src="https://metavalent.com/assets/images/Digital-Patreon-Logo_FieryCoral.png" alt="Subscribe with Patreonloading=”lazy” width="36" height="36" /></a>
	</span>
	
	</header>
	  
      <!-- experiment with flex-container to get banner to display on mobile -->
      <!-- <div id="banner" class="flex-container"> -->
	  	
	
        {% if site.show_downloads %}
          <div class="downloads">
            <span>Downloads:</span>
            <ul>
              <li><a href="{{ site.github.zip_url }}" class="button">ZIP</a></li>
              <li><a href="{{ site.github.tar_url }}" class="button">TAR</a></li>
            </ul>
          </div>
        {% endif %}
      </div>
	  <!-- end banner -->
		
    <div class="wrapper">
      <nav>
        <ul></ul>
      </nav>
      <section id="content">
        {{ content }}
      </section>
      <footer>  	 
        {% if site.github.is_project_page %}
          <p>Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/mattgraham">mattgraham</a></small></p>
      </footer>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}	
    
    
  </body>
</html> 
