---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
<!-- disqus ads are SUPER DIGUSTING! Just GROSS! 
{% include disqus.html %} -->
  <!-- utteranc.es commenting. stored in GitHub issues. nice -->
<script src="https://utteranc.es/client.js"
        repo="GlobalCognitionGroup/metavalent.github.io"
        issue-term="url"
        label="✨💬✨comment"
        theme="boxy-light"
        crossorigin="anonymous"
        async>
</script>
</article>
